<html>
    <body>
        <h2>Submitted Information</h2>
            <h3>Name: <%= info.name %></h3>
            <h4>Dojo Location: <%= info.location %></h4>
            <h4>Favorite Language: <%= info.language %></h4>
            <h4>Comment: <%= info.comment %></h4>
            <hr>
            <form action="/goback" method="get">
                <input type="Submit" value="Go Back">
              </form>
    </body>
    </html>